@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("../storage/img/background/fondo.jpg");
    background-position: center;
    background-size: cover; /* Cambiado a cover para asegurar el ajuste en pantallas más pequeñas */
    background-repeat: no-repeat;
    background-attachment: fixed;
}



header {
    margin-top: 2vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    grid-column: 1 / -1;
}

main {
    width: 80%;
    height: 70vh;
    margin: 5vh auto 0; /* Centraliza el main horizontalmente */
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 20vw 60vw;
    gap: 10px;
}

.descripcion_izquierda {
    color: white;
    margin-right: 2vh;
    box-shadow: 0px 0px 10px white;
    padding: 2vh;
    border-radius: 15px;
}

.description__item {
    .load {
        display: flex;
    }
}

.imageAgg {
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageAgg img {
    width: 200px;
    height: 200px;
}

.centro_del_main {
    display: flex;
    color: white;
}




.footer {
    
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    height: auto;
    grid-template-columns: 38px 500px 38px;
    grid-template-areas: ". footer__menu .";
    z-index: 1000; /* para asegurar que el footer quede siempre por encima del contenido */
}

.footer ul {
    grid-area: footer__menu;
    background: var(--color--one);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
}

.footer ul::after {
    content: "";
    position: relative;
    margin-top: 10px;
    right: -36px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 46px solid transparent;
    border-bottom: 90px solid var(--color--one);
}

.footer ul::before {
    content: "";
    position: relative;
    margin-top: 10px;
    left: -36px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 46px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 90px solid var(--color--one);
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--two);
}

.select {
    padding: 8px 0;
    border-bottom: 4px solid var(--color--five);
}

.buttom__paginacion {
    position: fixed;
    right: 0;
    top: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: min-content;
    align-content: center;
    justify-items: center;
    height: 80vh;
    z-index: 1000;
}

.buttom__paginacion p {
    color: wheat;
}

.buttom__paginacion a {
    color: var(--color--five);
    text-decoration: none;
    padding: 8px 16px;
}

.buttom__paginacion a.activo {
    background-color: var(--color--one);
    color: var(--color--five);
}

.buttom__paginacion a:hover:not(.activo) {
    background-color: var(--color--one--rgba);
}

/* Mejoras en el Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    
    body {
        height: 100vh;
        background-size: cover; /* Asegura que la imagen de fondo se ajuste */
        overflow-y: hidden;
    }

    
    main {
        height: 100%;
        width: 100%; /* Ocupa todo el ancho disponible */
        grid-template-columns: 1fr; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 2vh 0; /* Reduce el margen en pantallas pequeñas */
    }

    .descripcion_izquierda {
        margin-right: 0;
        padding: 2vh;
        width: 90%; /* Aumenta el tamaño del contenedor en pantallas pequeñas */
        box-shadow: 0px 0px 5px white; /* Reduce el tamaño de la sombra */
    }

    .imageAgg {
        width: 100%; /* Ajusta el ancho de la imagen */
        height: auto;
    }

    .footer {
        grid-template-columns: 1fr;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .footer ul {
        display: flex;
        flex-direction: row; /* Alinea los elementos del footer en una columna */
        padding: 20px;
        align-items: center;
        justify-content: center;
    }

    .footer ul::before,
    .footer ul::after {
        display: none; /* Oculta los triángulos decorativos en pantallas pequeñas */
    }

    .buttom__paginacion {
        top: 80px;
        right: 0;
        width: 100%; /* Abarca todo el ancho */
        height: auto; /* Ajusta la altura */
        flex-direction: row; /* Organiza en fila en pantallas pequeñas */
    }

    .buttom__paginacion a {
        padding: 12px;
        text-align: center;
    }
}