@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url("../storage/img/background/fondo.jpg");
    background-position: center;
    background-size: cover; /* Cambiado a cover para asegurar el ajuste en pantallas más pequeñas */
    background-repeat: no-repeat;
    background-attachment: fixed;
}



header {
    margin-top: 2vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    grid-column: 1 / -1;
}

main {
    width: 80%;
    height: 70vh;
    margin: 5vh auto 0; /* Centraliza el main horizontalmente */
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 20vw 60vw;
    gap: 10px;
}

.descripcion_izquierda {
    color: white;
    margin-right: 2vh;
    box-shadow: 0px 0px 10px white;
    padding: 2vh;
    border-radius: 15px;
    
}

.description__container {
    display: flex;
    gap: 20px;
    padding: 15px;
}



.imageAgg {
    width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageAgg img {
    width: 200px;
    height: 200px;
}

.centro_del_main {
    display: flex;
    color: white;
}




.footer {
    
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    height: auto;
    grid-template-columns: 38px 500px 38px;
    grid-template-areas: ". footer__menu .";
    z-index: 1000; /* para asegurar que el footer quede siempre por encima del contenido */
}

.footer ul {
    grid-area: footer__menu;
    background: var(--color--one);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
}

.footer ul::after {
    content: "";
    position: relative;
    margin-top: 10px;
    right: -36px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 46px solid transparent;
    border-bottom: 90px solid var(--color--one);
}

.footer ul::before {
    content: "";
    position: relative;
    margin-top: 10px;
    left: -36px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 46px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 90px solid var(--color--one);
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--two);
}

.select {
    padding: 8px 0;
    border-bottom: 4px solid var(--color--five);
}

.buttom__paginacion {
    position: fixed;
    right: 0;
    top: 40px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: min-content;
    align-content: center;
    justify-items: center;
    height: 80vh;
    z-index: 1000;
}

.buttom__paginacion p {
    color: wheat;
}

.buttom__paginacion a {
    color: var(--color--five);
    text-decoration: none;
    padding: 8px 16px;
}

.buttom__paginacion a.activo {
    background-color: var(--color--one);
    color: var(--color--five);
}

.buttom__paginacion a:hover:not(.activo) {
    background-color: var(--color--one--rgba);
}

@media (max-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
    }
    .main {
        grid-template-columns: 100%;
        margin-top: 5vh;
        height: auto; /* Para permitir que el contenido crezca según sea necesario */
        padding: 10px; /* Agrega espacio para que los elementos no estén pegados a los bordes */
    }
    .centro_del_main {
        display: flex;
    }

    .centro_del_main .backg {
        display: none;
    }
    .descripcion_izquierda {
        margin-right: 0; /* Elimina el margen derecho para que ocupe el 100% de su espacio */
        padding: 2vh 1vh; /* Ajusta el padding para pantallas pequeñas */
    }

    .imageAgg {
        width: 100%;
        height: auto; /* Permite que las imágenes se adapten al tamaño de la pantalla */
    }

    .imageAgg img {
        width: 100px; /* Reducción del tamaño de las imágenes */
        height: 100px;
    }

    
    

    .pagination {
        position: sticky;
        bottom: 0;
        display: flex;
        flex-direction: row;
        margin-top: 0px;
        padding: 10px 0;
        row-gap: 20px;
        grid-row: 2 / 2;
    }
}
