@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#container {
    margin-left: 2vw;
    display: grid;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    grid-template-rows: min-content 1fr 80px; /* Header, Main, Footer */
    grid-template-columns: 100vw;
    
    gap: 10px;
}

header {
    background-color: purple;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    grid-column: 1 / -1;
}

main {
    width: 98%;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 200px 1fr auto;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

#left {
    background-color: darkred;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#right {
    background-color: lightblue;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#center {
    background-color: yellow;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}
#center #box1{
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    overflow: auto;
}

#center #box2 {
    grid-column: 1 / 2;
    overflow: auto;
}

#center #box3 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    overflow: auto;
}
#center #box4 {
    grid-column: 3 / 4;
    overflow: auto;
}

#center #box5 {
    grid-column: 1 / 2;
    overflow: auto;
}
#center #box6{
    grid-column: 3 / 4;
    overflow: auto;
}

#center div {
    background-color: rebeccapurple;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: brown;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    height: 100px;
    grid-template-columns: 38px 8fr 38px;
    grid-template-areas: ". footer__menu .";
    z-index: 1000; /* para asegurar que el footer quede siempre por encima del contenido */
}

.footer ul {
    grid-area: footer__menu;
    background: var(--color--one);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
}

.footer ul::after {
    content: "";
    position: relative;
    margin-top: 10px;
    right: -36px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 46px solid transparent;
    border-bottom: 90px solid var(--color--one);
}

.footer ul::before {
    content: "";
    position: relative;
    margin-top: 10px;
    left: -36px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 46px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 90px solid var(--color--one);
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--two);
}

.select {
    padding: 8px 0;
    border-bottom: 4px solid var(--color--five);
}


.buttom__paginacion {
    position: fixed; /* Para que siempre esté en la misma posición */
    right: 0; /* Alinearlo a la derecha */
    top: 40px; /* Alinearlo a la parte superior */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: min-content;
    align-content: center;
    justify-items: center;
    height: 80vh; /* Para que abarque toda la altura de la pantalla */
    background-color: aquamarine;
    z-index: 1000; /* Asegurarse de que esté sobre otros elementos si es necesario */
}


.buttom__paginacion a {
    color: var(--color--five);
    float: left;
    text-decoration: none;
    padding: 8px 16px;
   
}

.buttom__paginacion a.activo {
    background-color: var(--color--one);
    color: var(--color--five);
}

.buttom__paginacion a:hover:not(.activo) {
    background-color: var(--color--one--rgba);
}

/*quiero un media scrin que tenga como maximo unos 768px*/
@media (max-width: 780px) {
    
    footer .footer {
        width: 100vw;
    }
}