@import url(variables.css);
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    height: auto;
    grid-template-columns: 38px 500px 38px;
    grid-template-areas: ". footer__menu .";
    z-index: 1000; /* para asegurar que el footer quede siempre por encima del contenido */
}

.footer ul {
    grid-area: footer__menu;
    background: var(--color--one);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 36px;
    border-top-right-radius: 36px;
}

.footer ul::after {
    content: "";
    position: relative;
    margin-top: 10px;
    right: -36px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: transparent;
    border-right: 46px solid transparent;
    border-bottom: 90px solid var(--color--one);
}

.footer ul::before {
    content: "";
    position: relative;
    margin-top: 10px;
    left: -36px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 46px solid transparent;
    border-right: transparent;
    border-bottom: 90px solid var(--color--one);
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color--two);
}

.select {
    padding: 8px 0;
    border-bottom: 4px solid var(--color--five);
}